{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block title %}
{{ block.super }}: {{ title }}
{% endblock title %}
    
{% block body %} 
    <div class="page-heading">
        <h1 class="page-title">Change User Password</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="bx bx-home bx-sm font-20"></i></a>
            </li>
            <li class="breadcrumb-item">Change User Password</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <!-- START OF MESSAGE -->
                {% include 'backend/partials/messages.html' %}
                <!-- END OF MESSAGE -->
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Change User Password</div>
                    </div>
                    <div class="ibox-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="form-group">
                                <label for="old_password" class="required">Old Password</label>
                                {{ form.old_password }}
                            </div>

                            <div class="form-group">
                                <label for="new_password1" class="required">New Password</label>
                                {{ form.new_password1 }}
                            </div>

                            <div class="form-group">
                                <label for="new_password2" class="required">Confirm New Password</label>
                                {{ form.new_password2 }}
                            </div>
                           
                            <input type="submit" value="Change Password" class="btn btn-primary p-2 mt-3">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    