{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block title %}
{{ block.super }} | {{ key }}
{% endblock title %}

{% block body %}
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Loan Application</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item mr-2"><a href="{% url 'dashboard' %}"><i class="bx bx-home bx-sm font-20"></i></a></li>
            <li class="breadcrumb-item mr-2"><a href="{% url 'add-loan' %}">Apply for Loan</a></li>
            <li class="breadcrumb-item">Loan Applied</li>
        </ol>
    </div>

    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <!-- START OF MESSAGE -->
                {% include 'backend/partials/messages.html' %}
                <!-- END OF MESSAGE -->
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Loan Application [{{ loan.count }}]</div>
                    </div>
                    <div class="table-responsive">
                        <div class="ibox-body">
                            <table class="table table-striped table-bordered table-hover" id="example-table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>ID:</th>
                                        <th>Name:</th>
                                        <th>Amount:</th>
                                        <th>Guarantor Name:</th>
                                        <th>Date Applied:</th>
                                        <th class="text-center">Action:</th>
                                        <th class="text-center">Action:</th>
                                        <th class="text-center">Status:</th>
                                        </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>ID:</th>
                                        <th>Name:</th>
                                        <th>Amount:</th>
                                        <th>Guarantor Name:</th>
                                        <th>Date Applied:</th>
                                        <th class="text-center">Action:</th>
                                        <th class="text-center">Action:</th>
                                        <th class="text-center">Status:</th>
                                    </tr>
                                </tfoot>
                                
                                <tbody>
                                {% for key in loan %}
                                    <tr>
                                        <td>{{ key.id }}</td>
                                        <td><a href="{% url 'profile' key.applicant %}" target="_blank">{{ key.applicant.last_name }}, {{ key.applicant.profile.middle_name }} {{ key.applicant.first_name }}</a></td>
                                        <td>{{ key.amount }}</td>
                                        <td>{{ key.guarantor }}</td>
                                        <td>{{ key.date_created }}</td>

                                        <td class="text-center">
                                            {% if key.status == 0 %}
                                            <a href="{% url 'update-loan' key.slug %}" class="btn btn-sm btn-info">Edit Loan Applied</a>
                                            {% elif key.status == 1 %}
                                            <a href="{% url 'generate-loanpdf' key.id %}" class="btn btn-sm btn-success"><i class="bx bx-download mr-1"></i>Loan Form</a>
                                            {% else %}
                                            <a href="" class="btn btn-sm btn-danger disabled"><i class="bx bxs-dislike"></i></a>
                                            {% endif %}
                                        </td>

                                        <td class="text-center">
                                            {% if key.status == 0 %}
                                            <a href="" class="btn btn-sm btn-warning disabled">Action Pending</a>
                                            {% elif key.status == 1 %}
                                            <a href="{% url 'generate-loanpaymentpdf' key.id %}" class="btn btn-sm btn-success"><i class="bx bx-download mr-1"></i>Payment Advice</a>
                                            {% else %}
                                            <a href="" class="btn btn-sm btn-danger disabled">Disapproved<i class="bx bxs-dislike ml-1"></i></a>
                                            {% endif %}
                                        </td>

                                        <td class="text-center">
                                            {% if key.status == 0 %}
                                            <a href="" class="btn btn-sm btn-warning disabled">Approval Pending</a>
                                            {% elif key.status == 1 %}
                                            <a href="" class="btn btn-sm btn-success disabled">Approved<i class="bx bxs-like ml-1"></i></a>
                                            {% else %}
                                            <a href="" class="btn btn-sm btn-danger disabled">Disapproved<i class="bx bxs-dislike ml-1"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %} 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock body %}
