{% extends 'backend/main.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ block.super }} | {{ key }}
{% endblock %}

{% block body %}
    <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-heading">
            <h1 class="page-title">Loan Duration</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item mr-2"><a href="{% url 'dashboard' %}"><i class="fa fa-home font-20"></i></a></li>
                <li class="breadcrumb-item mr-2"><a href="{% url 'view_loanduration' %}">View loan duration</a></li>
                <li class="breadcrumb-item">Delete loan duration</li>
            </ol>
        </div>
        <div class="page-content fade-in-up">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xlg-8">
                    
                    <div class="ibox my-5">
                        <div class="ibox-head">
                            <div class="ibox-title">Delete {{ item }} Loan Duration?</div>
                        </div>

                        <div class="ibox-body p-2">
                            <p class="text-center mx-3 mt-3">Are you sure you want to delete <b>"{{ item }}"</b> from the loan duration?</p>
                            <form action="{% url 'delete_loanduration' item.slug %}" method="POST" style="margin: 5px; padding: 5px; line-height: 5px;">
                                {% csrf_token %}
                               
                                <div class="text-center my-3">
                                    <input type="submit" value="Confirm" class="btn btn-danger btn-md">
                                    <a href="{% url 'view_loanduration' %}" class="btn btn-primary btn-md">Cancel</a>
                                </div>
                            </form>
                        </div>

                    </div>
                    
                </div>
                
                </div>
            <div>
        </div>
    </div>
        <!-- END PAGE CONTENT-->
{% endblock %}