{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block title %}
{{ block.super }}: {{ title }}
{% endblock title %}
    
{% block body %} 
    <div class="page-heading">
        <h1 class="page-title">Delete Contact Post</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="bx bx-home bx-sm font-20"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'view-contact' %}">View Contact Posts</a></li>
            <li class="breadcrumb-item">Delete Contact Post</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <!-- START OF MESSAGE -->
                {% include 'backend/partials/messages.html' %}
                <!-- END OF MESSAGE -->
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Delete Contact Post</div>
                    </div>
                    <div class="ibox-body">
                        <p class="mb-4">Are you sure you want to delete <b>"{{ contact|truncatechars:"100" }}"</b>?</p>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <a href="{% url 'view-contact' %}" class="btn btn-md btn-secondary">Cancel</a>
                            <input type="submit" value="Delete Contact Post" class="btn btn-danger btn-md">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    