{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block title %}
{{ block.super }} | {{ key }}
{% endblock title %}

{% block body %}
    <!-- START PAGE CONTENT-->
    <div class="page-heading">
        <h1 class="page-title">Loan Application</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item mr-2"><a href="{% url 'dashboard' %}"><i class="bx bx-home bx-sm font-20"></i></a></li>
            <li class="breadcrumb-item mr-2"><a href="{% url 'view-loan' %}">View Loan Applied</a></li>
            <li class="breadcrumb-item">Edit Loan Status</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <!-- START OF MESSAGE -->
                {% include 'backend/partials/messages.html' %}
                <!-- END OF MESSAGE -->
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Edit Loan Status</div>
                    </div>
                    <div class="ibox-body">
                        <form action="" method="POST" enctype="multipart/form-data" style="margin: 5px; padding: 10px; line-height: 10px;">
                            {% csrf_token %}
                            <fieldset class="border border-dark p-3 mb-3">
                                <legend class="w-auto h5"> Loan Information: </legend>	

                                <div class="col-12 col-lg-12 form-group">
                                    <label for="applicant" class="required">Applicant Full Name:</label>
                                    {{ form.applicant }}	
                                </div>
                             
                                <div class="col-12 col-lg-12 form-group">
                                    <label for="guarantor" class="required">Guarantor Full Name:</label>
                                    {{ form.guarantor }}	
                                </div>
                                
                                <div class="col-12 col-lg-12 form-group">
                                    <label for="amount" class="required">Total Amount on Loan:</label>
                                    {{ form.total_amount }}	
                                </div>
                               
                                <div class="col-12 col-lg-12 form-group">
                                    <label for="status" class="required">Loan Status:</label>
                                    {{ form.status }}	
                                </div>
                               
                            </fieldset>

                            <div class="form-row">
                                <input type="submit" value="Post Loan Status" class="btn btn-primary btn-md btn-block mt-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
{% endblock body %}