{% extends 'backend/dashboard/main.html' %}
{% load static %}

{% block title %}
{{ block.super }}: {{ title }}
{% endblock title %}
    
{% block body %} 
    <div class="page-heading">
        <h1 class="page-title">Add Advert Post</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard' %}"><i class="bx bx-home bx-sm font-20"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="{% url 'view-advert' %}">View Advert Posts</a></li>
            <li class="breadcrumb-item">Add Advert Post</li>
        </ol>
    </div>
    <div class="page-content fade-in-up">
        
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <!-- START OF MESSAGE -->
                {% include 'backend/partials/messages.html' %}
                <!-- END OF MESSAGE -->
                <div class="ibox">
                    <div class="ibox-head">
                        <div class="ibox-title">Add Advert Post</div>
                    </div>
                    <div class="ibox-body">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.media }}

                            <div class="form-group">
                                <label for="image" class="required">Advert Image:</label>
                                {{ form.image }}
                            </div>

                            <div class="form-group">
                                <label for="title" class="required">Advert Title:</label>
                                {{ form.title }}
                            </div>

                            <div class="form-group">
                                <label for="title" class="required">Advert URL:</label>
                                {{ form.advert_url }}
                            </div>
 
                            <input type="submit" value="Add Advert Post" class="btn btn-primary mt-3 p-2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    advert_url