{% extends 'account/auth/auth.html' %}
{% load static %}

{% block title %}
{{ block.super }} Password Reset Confirm
{% endblock title %}

{% block body %}
    <!-- Content -->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-10 col-lg-6 col-xlg-6 col-xxl-6">
      {% if validlink %}
        <div class="authentication-wrapper authentication-basic container-p-y">
          <div class="authentication-inner py-4">
            <div class="my-0">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == "error" %}
                  <div class="alert alert-warning text-dark d-flex align-items-center" role="alert">
                  {{ message }}
                  </div>
                  {% else %}
                  <div class="alert alert-{{ message.tags }} text-dark d-flex align-items-center" role="alert">
                    {{ message }}
                  </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <!-- Forgot Password -->
            <div class="card shadow">
              <div class="card-body">
                <div class="mt-4"><img src="{% static 'backend/assets/images/logo/favicon.ico' %}" alt="EMCS Logo"></div>
                <h4 class="card-title mb-0">Forgot Password?</h4>
                <p class="mb-3">Enter your email and we'll send you instructions to reset your password</p>

                <form id="formAuthentication" class="mb-3" action="" method="POST">
                  {% csrf_token %}
                  
                  <div class="mb-3 form-password-toggle">
                    <label for="new_password1" class="required">New Password</label>
                    <div class="input-group input-group-merge">
                      <input
                      type="password"
                      class="form-control"
                      id="id_new_password1"
                      name="new_password1"
                      placeholder="Enter your New Password:..."
                      autofocus/>
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>

                  <div class="mb-3 form-password-toggle">
                    <label for="new_password1" class="required">Confirm New Password</label>
                    <div class="input-group input-group-merge">
                      <input
                      type="password"
                      class="form-control"
                      id="id_new_password2"
                      name="new_password2"
                      placeholder="Enter your New Password Again:..."
                      autofocus/>
                      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                    </div>
                  </div>

                  <div class="mb-3">
                    <input type="submit" value="Reset Password Now" class="btn btn-success d-grid w-100">
                  </div>
                </form>

                <div class="text-center">
                  <a href="{% url 'sign-in' %}" class="d-flex align-items-center justify-content-center">
                    <i class="bx bx-chevron-left-square scaleX-n1-rtl bx-sm"></i>
                    Back to login
                  </a>
                </div>
              </div>
            </div>
            <!-- /Forgot Password -->
          </div>
        </div>
      {% else %}
    
        <div class="card mt-5 p-2">
          <h3 class="card-header text-center">The Password Reset Link was Invalid</h3>
            <div class="card-body m-0">
              <p class="card-text text-center">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
              </p>
            </div>
            <div class="text-left mb-4">
              <a href="{% url 'reset' %}" class="d-flex align-items-center justify-content-center">
                <i class="bx bx-chevron-left-square scaleX-n1-rtl bx-sm"></i>
                To reset your password, click here
              </a>
            </div>
          </div>
        </div>
        
      {% endif %}
      </div>
    </div>
  </div>
    <!-- / Content -->
    <!-- Core JS -->
{% endblock body %}